@theme{
    --color-primary: #7FC7F4;
    --color-secondary: #4CC8ED;
    --color-light-blue: #94CCF0
    --color-dark-blue: #2F476F;
    --color-blue-gray: #737D92;
    --color-gray: #F2F2F2;
    --color-gray-2: #E5E5E5;
    --color-dark-gray: #979797;
    --color-darker-gray: #8D8D8D;
    --color-black: #000000;
    --color-white: #FFFFFF;
}